.main .list img{
	margin:3px;
	height:200px;
	height:142px;
	float: left;
	display:inline;
	border:1px solid #bebebe;
	
}
.main .list{
	float: left;
	display:inline-block;
}
.main {
	width:900px;
	height:310px;
	margin:30px auto 0px;
}
a:link img{
	opacity:0.5;
}
a:hover img{
	opacity:1;
}